/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

// .sticky {
//   display: block;
// }

// .hentry {
//   margin: 0 0 $base__space-unit;
// }

// .updated:not(.published) {
//   display: none;
// }

// .single .byline,
// .group-blog .byline {
//   display: inline;
// }

// .page-content,
// .entry-content,
// .entry-summary {
//   margin: $base__space-unit 0 0;
// }

// .page-links {
//   clear: both;
//   margin: 0 0 $base__space-unit;
// }

// /* Asides */

// .blog .format-aside .entry-title,
// .archive .format-aside .entry-title {
//   display: none;
// }

// /* Comments */

// .comment-content a {
//   word-wrap: break-word;
// }
// .bypostauthor {
//   display: block;
// }
.blog {
  .site-content {
    display: flex;
    width: 1120px;
    margin: 0 auto;

    .content-area {
      width: 73%;
      // border-right: 1px solid #e1e1e1;
      padding-top: 3rem;
      padding-right: 3rem;

      .entry-header {
        position: relative;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
        }

        .entry-title {
          position: absolute;
          top: 20px;
          left: 0;
          background: #248a83;
          padding: 10px;
          text-transform: uppercase;
          font-size: 2rem;
          & a {
            color: white;
            text-decoration: none;
            &:hover {
              color: #f0e4d1;
            }
          }
        }
        .entry-meta {
          position: absolute;
          bottom: 7px;
          right: 0;
          color: white;
          background: #248a83;
          padding: 5px;
          text-transform: uppercase;
        }
      }
    }
    .widget-area {
      width: 27%;
      border-left: 1px solid #e1e1e1;
    }
  }
}

.journal-title {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: 400;
  letter-spacing: 0.25rem;
}
.journal-content {
  display: grid;
  gap: $base__space-unit;
  grid-template-columns: 33% 33% 33%;
  margin: 0 4rem;
  width: 1120px;
  .home-page-journal {
    border: 1px solid gray;
    display: flex;
    flex-flow: column nowrap;
    // width: 33%;

    .home-page-journal-image {
      & img {
        width: 100%;
        height: auto;
      }
    }
  }
}

.page-about .entry-header {
  display: none;
}
