.site-footer {
  background-image: url('../../images/dark-wood@2x.png');
  width: 100%;
  margin: auto;
  & p,
  a {
    color: white;
    text-decoration: none;
    margin-left: 0;
    & span {
      font-weight: bold;
    }
  }
  .footer-info-container {
    display: flex;
    align-content: flex-start;
    width: $width;
    margin: auto;
    padding: 2.5rem 0 1rem 0;
    line-height: 2.5rem;
    position: relative;

    .contact-info {
      margin-right: 5rem;
      a {
        &:hover {
          text-decoration: underline;
        }
      }
      i {
        padding-right: 0.5rem;
      }
    }

    & h3 {
      justify-content: flex-start;
      color: #d99054;
      letter-spacing: 0.1rem;
      font-size: 1.25rem;
      margin-bottom: 0;
    }

    .footer-logo {
      position: absolute;
      right: 0;
      top: 20px;
      height: 50px;
      margin: 3rem 0;
      width: auto;
    }
  }
  .copyright {
    display: flex;
    justify-content: center;
    color: #fff;
    text-transform: uppercase;
    font-family: $font__code;
    padding-bottom: 2rem;
  }
}
