/*
Contains:
*Buttons
*Fields
*/

/* Buttons */

input[type='button'],
input[type='reset'],
input[type='submit'] {
  background: $main__green;
  color: white;
  @include font-size(0.75);
  line-height: 1;
  padding: 0.6rem 1rem 0.4rem;
  border-color: $border__grey;
}

/* Fields */

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
textarea {
  background-color: $border__grey;
}

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'] {
  padding: 3px;
}

textarea {
  padding-left: 3px;
  width: 100%;
}
