/*
Contains:
*Main Navigation Stylings
*Main Navigation Stylings with Banner
*All Button Stylings
**/

/* Main Navigation Stylings */
.main-navigation {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  border-bottom: 0.5px solid $border__grey;
  align-items: center;
  background-color: none;
  width: 100%;
  margin: auto;
  padding: 0.5rem 6.5%;
  height: 50px;
  position: fixed;
  z-index: 2;
  background-color: rgba($color: $color__background-body, $alpha: 0.75);

  a {
    margin-right: auto;
    img {
      height: 35px;
    }
  }

  .menu-toggle {
    display: none;
  }

  .nav-menu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: auto;

    .menu-item a {
      margin-right: 15px;
      text-decoration: none;
      color: $main__green;
      text-shadow: none;
      text-transform: uppercase;
      font-family: $font__code;
      &:hover {
        color: $hover__green;
      }
    }
  }
  .search-form {
    .search-form-container {
      display: inline-block;
      background: none;
      &::after {
        content: '';
        display: block;
      }
      .fa-search {
        color: $main__green;
        &:hover {
          color: $hover__green;
        }
      }

      .search-field {
        width: 200px;
        height: 25px;
        background: none;
        border: 0;
        outline: none;
        color: $color__border-abbr;
        display: none;
        text-transform: uppercase;
        &:blur {
          display: none;
        }
      }
    }
  }
}

/*Main Navigation Styling with Banners*/
.home,
.page-about,
.single-adventures {
  .main-navigation {
    border-bottom: none;
    background-color: rgba($color: $color__background-body, $alpha: 0);
    position: absolute;
    z-index: 1;
    display: flex;
    &.sticky {
      position: fixed;
      width: 100%;
      background-color: rgba($color: $color__background-body, $alpha: 0.75);
      border-bottom: 1px solid $border__grey;
      .nav-menu {
        .menu-item a {
          color: $main__green;
          text-shadow: none;
          &:hover {
            color: $hover__green;
          }
        }
      }
      .search-form {
        .search-form-container {
          .fa-search {
            color: $main__green;
            text-shadow: none;
            &:hover {
              color: $hover__green;
            }
          }
          .search-field {
            font-family: $font__code;

            &::placeholder {
              color: $color__border-abbr;
              text-shadow: none;
              font-family: $font__code;
            }
          }
        }
      }
    }
    .nav-menu {
      .menu-item a {
        margin-right: 15px;
        text-decoration: none;
        text-transform: uppercase;
        color: $color__background-body;
        text-shadow: 1px 1px 1px black;
        &:hover {
          color: $hover__yellow;
        }
      }
    }
    .search-form {
      .search-form-container {
        display: inline-block;
        background: none;
        .fa-search {
          color: $color__background-body;
          text-shadow: 1px 1px 1px black;

          &:hover {
            color: $hover__yellow;
          }
        }
        .search-field {
          width: 200px;
          height: 25px;
          background: none;
          border: 0;
          outline: none;
          color: $color__background-body;
          text-shadow: 1px 1px 1px black;
          font-family: $font__code;
          display: none;
          text-transform: uppercase;
          &::placeholder {
            color: $color__background-body;
            text-shadow: 1px 1px 1px black;
            font-family: $font__code;
          }
        }
      }
    }
  }
}

/*All Button Stylings*/

a.btn {
  color: white;
  background-color: $main__green;
  text-transform: uppercase;
  font-family: $font__code;
  padding: 0.5rem;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  width: 170px;
  margin: auto;
  &:hover {
    background-color: $hover__green;
  }
  &-white {
    color: $header__purple;
    background-color: white;
    border: 1px solid $header__purple;
    text-transform: uppercase;
    font-family: $font__code;
    padding: 0.5rem;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    width: 150px;
    margin-left: 0;
    align-self: flex-start;
    &:hover {
      background-color: $main__green;
      color: white;
      border: 1px solid $main__green;
    }
  }
}
