/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

.main-navigation {
  display: flex;
  justify-content: flex-end;
  border-bottom: 0.5px solid #e1e1e1;
  align-content: center;
  background-color: none;
  width: 100%;

  a {
    margin-right: auto;
  }

  .menu-toggle {
    display: none;
  }

  .nav-menu {
    display: flex;
    // border: 1px solid pink;
    justify-content: space-between;
    list-style-type: none;
    // margin: auto;

    .menu-item a {
      margin-right: 15px;
      text-decoration: none;
      color: #248a83;
      text-shadow: none;
      text-transform: uppercase;
      font-family: $font__code;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.home,
.page-about {
  .main-navigation {
    border-bottom: none;
    .nav-menu {
      .menu-item a {
        margin-right: 15px;
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        text-shadow: 1px 1px 1px #000;
        &:hover {
          color: #f0e4d1;
        }
      }
    }
  }
}

a.btn {
  color: white;
  background-color: #248a83;
  text-transform: uppercase;
  font-family: $font__code;
  padding: 0.5rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  width: 70%;
  margin: auto;
  &:hover {
    background-color: #19625d;
  }
  &-white {
    color: #2f1339;
    background-color: white;
    border: 1px solid #2f1339;
    text-transform: uppercase;
    font-family: $font__code;
    padding: 0.5rem;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    width: 150px;
    margin-left: 0;
    align-self: flex-start;
    &:hover {
      background-color: #248a83;
      color: white;
      border: none;
    }
  }
}
