/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

.main-navigation {
  display: flex;
  justify-content: space-between;
  // border-bottom: 0.5px solid #e1e1e1;
  align-content: center;
  background-color: none;
  width: 100%;

  .menu-toggle {
    display: none;
  }

  .nav-menu {
    display: flex;
    // border: 1px solid pink;
    justify-content: space-between;
    list-style-type: none;
    // margin: auto;

    .menu-item a {
      margin-right: 15px;
      text-decoration: none;
      color: #248a83;
      text-shadow: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.home,
.page-id-26 {
  .nav-menu {
    .menu-item a {
      margin-right: 15px;
      text-decoration: none;
      text-transform: uppercase;
      color: #fff;
      text-shadow: 1px 1px 1px #000;
      &:hover {
        color: #f0e4d1;
      }
    }
  }
}
