/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

/* About page*/

.post-26 {
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 100px;

  .entry-content {
    h2 {
      display: flex;
      justify-content: center;
    }

    p {
      margin: 0;
    }
  }
}

.post-36 {
  border-right: 1px solid #e1e1e1;
}
