/*--------------------------------------------------------------
# Typography organized by page
--------------------------------------------------------------*/

body,
input,
select,
textarea {
  color: $color__text-main;
  font-family: $font__main;
  @include font-size(1);
  line-height: $font__line-height-body;
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
button {
  font-family: $font__code;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

/* Copy */

p {
  // margin: $base__space-unit;
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-family: $font__main;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 $base__space-unit;
}

address {
  margin: 0 0 $base__space-unit;
}

pre {
  background: $color__background-pre;
  font-family: $font__pre;
  @include font-size(0.9375);
  line-height: $font__line-height-pre;
  margin-bottom: 1.6rem;
  max-width: 100%;
  overflow: auto;
  padding: 1.6rem;
}

code,
kbd,
tt,
var {
  font-family: $font__code;
  @include font-size(0.9375);
}

abbr,
acronym {
  border-bottom: 1px dotted $color__border-abbr;
  cursor: help;
}

mark,
ins {
  background: $color__background-ins;
  text-decoration: none;
}

big {
  font-size: 125%;
}

/* Search Results*/

.search-results {
  .search-result-header {
    font-size: 2rem;
    color: #248a83;
    justify-content: left;

    &:hover {
      color: #2f1339;
    }
  }

  p {
    margin-left: 0;
  }
  .btn-white {
    display: flex;
    width: 150px;
    margin-left: 0;
  }
}

/*headings organized by page*/

.archive-product-title {
  font-size: 2rem;
}
.product-type-title {
  font-size: 2.5rem;
}
