// Structure

$base__space-unit: 1.5rem;
$width: 87.5%;
$margin: auto;

// Typography

$font__main: 'Merriweather Web', sans-serif;
$font__code: 'Novecento Sans Web';

$font__pre: 'Courier 10 Pitch', Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
