.site-footer {
  background-image: url('../../images/dark-wood@2x.png');
  //   height: 400px;
  padding: 2em;
  & p,
  a {
    color: white;
    text-decoration: none;
    margin-left: 0;
    & span {
      font-weight: bold;
    }
  }
  .footer-info-container {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    line-height: 2.5rem;
  }
  .copyright {
    display: flex;
    margin: 0;
    justify-content: center;
  }
}
